Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [5]:
a ="Hello"
b=[1,2,3,4,'hello',4.56]
c=3.45
d=(1,2,3,4,'hello',4.56)

In [7]:
type(a)

str

In [8]:
type(b)

list

In [9]:
type(c)

float

In [10]:
type(d)

tuple

Q2. Given are some following variables containing data:
(i) var1 = ''
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

In [12]:
var1 = ''
type(var1)

str

In [14]:
var2 = '[ DS , ML , Python]'
type(var2)

str

In [16]:
var3 = [ 'DS' , 'ML' , 'Python' ]
type(var3)

list

In [17]:
var4=1
type(var4)

int

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [18]:
5//6
#use of // is used for floor division

0

In [19]:
5%6
#use of % is used for modulus

5

In [20]:
5/6
#use of / is used for division

0.8333333333333334

In [21]:
5**6
# ** is used for exponentiation

15625

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [24]:
list=[1,2,3,4,'hello',4.56,'a','b',46,10]
for i in list:
    print(i,type(i))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
4 <class 'int'>
hello <class 'str'>
4.56 <class 'float'>
a <class 'str'>
b <class 'str'>
46 <class 'int'>
10 <class 'int'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [8]:
a=int(input('Enter a '))
b=int(input('Enter b'))
while a%b==0:
    times_divisible = a // b
    print(f'a is purely divisible by b.It can be divided {times_divisible} times.')
    break
else:
     print('a is not divisible by b')

Enter a  4
Enter b 2

a is purely divisible by b.It can be divided 2 times.

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [14]:
list=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
divisible_by_3=False
for i in list:
    if i%3==0:
        divisible_by_3=True
        break
if divisible_by_3:
        print('there are numbers which are divisible by 3')
else:
         print('No numbers are indivisible by 3')

there are numbers which are divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [16]:
# list
l=[4,5,6,7,8,9,10]
l[1]

5

In [19]:
l[1]=6
l.append(11)

In [20]:
l

[4, 6, 6, 7, 8, 9, 10, 11]

Above examples shows that list is a mutable data type, here we can update the value in the list or add a new value in the list 
this are the freatures in case of mutable datatypes

In [21]:
str='hello'

In [22]:
str[0]

'h'

In [ ]:
str[0]='