Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd

In [8]:
df = pd.Series([4,8,15,16,23,42])
df

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [10]:
x=[1,2,3,4,5,6,7,8,9,10]
df=pd.Series(x)
df

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

Q3. Create a Pandas DataFrame that contains the following data:


Name
Alice
Bob
Claire

Age
25
30
27

Gender
Female
Male
Female

In [18]:
a={"Name":['Alice','Bob','Claire'],"Age":[25,30,27],"Gender":['Female','Male','Female']}
data=pd.DataFrame(a)
data

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

 Dataframe consist of data,rows and columns.DataFrames can be created from various data sources, such as dictionaries, lists, NumPy arrays, CSV files, Excel files, SQL databases, and more.
 
 
 
 a DataFrame is a collection of Series, where each column represents a Series of data, while a Series is a single column of data. DataFrames are used to work with structured data that contains multiple attributes or columns, while Series are used to work with one-dimensional data.
 
 Examples are given below:

In [16]:
#1.DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 22]
}

df = pd.DataFrame(data)

In [17]:
df

      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   22

In [19]:
#2 Series
x=['a','b','c','d','e']
df=pd.Series(x)
df

0    a
1    b
2    c
3    d
4    e
dtype: object

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

Ans:- These are the most common functions used to manipulate data in a Pandas DataFrame:
1.column :-df.column to find the columns present in the DataFrame
2.Head and Tail :- df.head(),df.tail() this functions provide first 5 rows(in case of head) and last 5 rows(in case of tail)
3.shape-size-info  function:- df.shape, df.size,df.info()
4.isna :- if one needs to get the total number of null values in a data, we can use df.isna()

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

Ans:- the Pandas library in Python includes Series, DataFrame, and Panel data structures. Here's the mutability status of each:

Series: Series objects in Pandas are mutable, meaning you can change the values of elements within a Series after it has been created. You can assign new values to specific elements using indexing.

DataFrame: DataFrames are also mutable. You can modify the data within a DataFrame, such as changing values in cells, adding or removing rows or columns, and more.

Panel: Panels were used in earlier versions of Pandas to handle 3D data, but they have been removed in recent versions (Pandas 0.25.0 onwards) because they were rarely used and less versatile than DataFrames. Therefore, Panels are not relevant in more recent versions of Pandas, and you should use DataFrames and Series for data manipulation.

Keep in mind that software libraries like Pandas can evolve over time, so it's essential to check the documentation and

In [1]:
import pandas as pd

# Example Series 1: Passenger Names
names = pd.Series(['John', 'Alice', 'Bob', 'Eve', 'Charlie'])

# Example Series 2: Passenger Ages
ages = pd.Series([30, 25, 35, 28, 22])

# Example Series 3: Passenger Fares
fares = pd.Series([50.5, 45.2, 60.0, 55.7, 40.3])

# Create a DataFrame using the Series
passenger_data = pd.DataFrame({'Name': names, 'Age': ages, 'Fare': fares})

# Display the resulting DataFrame
print(passenger_data)

      Name  Age  Fare
0     John   30  50.5
1    Alice   25  45.2
2      Bob   35  60.0
3      Eve   28  55.7
4  Charlie   22  40.3